.htaccess
wp-config.php
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
sitemap.xml
*.log
wp-content/cache/
wp-content/backups/
sitemap.xml.gz
style.css

/node_modules/

/assets/Example_Video.f4v
/assets/Example_Video.mp4
/assets/Example_Video.webm
/assets/Non-example.video.f4v
/assets/Non-example.video.mp4
/assets/Non-example.video.webm
/assets/Open.Chalkboard.Intro.Film.V1.f4v
/assets/Open.Chalkboard.Intro.Film.V1.mp4
/assets/Open.Chalkboard.Intro.Film.V1.webm

/assets/PHYSICS_2__PETER_BAKER_VOICEOVER.wav

/assets/

.DS_Store
