.htaccess
wp-config.php
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
sitemap.xml
*.log
wp-content/cache/
wp-content/backups/
sitemap.xml.gz
style.css

/node_modules/

/assets/Example_Video.f4v
/assets/Example_Video.mp4
/assets/Example_Video.webm
/assets/Non-example.video.f4v
/assets/Non-example.video.mp4
/assets/Non-example.video.webm
/assets/Open.Chalkboard.Intro.Film.V1.f4v
/assets/Open.Chalkboard.Intro.Film.V1.mp4
/assets/Open.Chalkboard.Intro.Film.V1.webm

/assets/PHYSICS_2__PETER_BAKER_VOICEOVER.wav

/assets/

.DS_Store

/psd/open.chalkboard.homepage.final1.1-assets/bkg-foot.png
/psd/open.chalkboard.homepage.final1.1-assets/bkg-head.png
/psd/open.chalkboard.homepage.final1.1-assets/bkg-main-content.png
/psd/open.chalkboard.homepage.final1.1-assets/btn-anchored.png
/psd/open.chalkboard.homepage.final1.1-assets/btn-blog.png
/psd/open.chalkboard.homepage.final1.1-assets/btn-email.png
/psd/open.chalkboard.homepage.final1.1-assets/btn-facebook.png
/psd/open.chalkboard.homepage.final1.1-assets/btn-get-started.png
/psd/open.chalkboard.homepage.final1.1-assets/btn-home.png
/psd/open.chalkboard.homepage.final1.1-assets/btn-kinetic.png
/psd/open.chalkboard.homepage.final1.1-assets/btn-our-misison.png
/psd/open.chalkboard.homepage.final1.1-assets/btn-personal.png
/psd/open.chalkboard.homepage.final1.1-assets/btn-real.png
/psd/open.chalkboard.homepage.final1.1-assets/btn-research-behind-spark.png
/psd/open.chalkboard.homepage.final1.1-assets/btn-surprising.png
/psd/open.chalkboard.homepage.final1.1-assets/btn-think-tank.png
/psd/open.chalkboard.homepage.final1.1-assets/btn-twitter.png
/psd/open.chalkboard.homepage.final1.1-assets/btn-why-engaging-teens-matters.png
/psd/open.chalkboard.homepage.final1.1-assets/img-boy-thinking.png
/psd/open.chalkboard.homepage.final1.1-assets/lightbulb-k.png
/psd/open.chalkboard.homepage.final1.1-assets/lightbulb-p.png
/psd/open.chalkboard.homepage.final1.1-assets/lightbulb-r.png
/psd/open.chalkboard.homepage.final1.1-assets/lightbulb-s.png
/psd/open.chalkboard.homepage.final1.1-assets/lightbulb.png
/psd/open.chalkboard.homepage.final1.1-assets/logo.png
/psd/open.chalkboard.homepage.final1.1-assets/make-it.png
/psd/open.chalkboard.homepage.final1.1-assets/title.png
/psd/open.chalkboard.homepage.final1.3-assets/btn-anchored.png
/psd/open.chalkboard.homepage.final1.3-assets/btn-get-started.png
/psd/open.chalkboard.homepage.final1.3-assets/btn-kinetic.png
/psd/open.chalkboard.homepage.final1.3-assets/btn-personal.png
/psd/open.chalkboard.homepage.final1.3-assets/btn-real.png
/psd/open.chalkboard.homepage.final1.3-assets/btn-surprising.png
/psd/open.chalkboard.homepage.final1.3-assets/title.png

/psd/open.chalkboard.homepage.final1.3.psd
